<h1>Edit User</h1>


<!-- <form action="/users/:id/edit" accept-charset="UTF-8" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="name">
  
  <label for="email">Email:</label>
  <input type="text" name="user[email]" id="email">
  
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  
  <input name="commit" type="submit" value="Edit">
  </form> 



<%= form_tag("/users/:id", method: "get") do %>
<%= label_tag(:username, "Enter Username") %>
<%= text_field_tag(:username) %>
<%= label_tag(:password, "Password") %>
<%= password_field_tag(:password) %>
<%= label_tag(:email, "email") %>
<%= email_field_tag(:email) %>
<%= submit_tag("Edit") %>
<% end %>
-->



<% if @user.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
       prohibited this user from being saved:
    </h2>
    <ul>
      <%= @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: user_path do |f| %>
    <%= f.label :username, "Edit Username"%>
    <%= f.text_field :username, placeholder: "Type username"%>
    
    <%= f.label :password, "Edit Password"%>
    <%= f.password_field :password, placeholder: "password" %>
    
    <%= f.label :email, "Edit Email"%>
    <%= f.email_field :email, placeholder: "you@mail.com"%>
    
    <%= f.submit "Edit" %>
<% end %>